form   {
    width: 40%;
    height: 400px;
    background-color: aqua;
    border-radius: 15px;
    background-repeat: repeat-y;
    margin: auto;
    opacity: 2;
    padding-top: 20px;
}

input{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.button{
    height: 30px;
    width: 25%;
    border-radius: 7px;
    border: none;
}
.button:hover{
    cursor: pointer;
    background-color: blueviolet;
    width: 30%;
    font-size: larger;
}